@model OverlayManagementClient.Models.OvsRegistration

<div class="modal-content">
    <div class="modal-header">
        <h3 class="modal-title">Create Switch</h3>
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-danger mx-1" data-bs-dismiss="modal" aria-hidden="true">X</button>
        </div>
    </div>
    <div id="modalBody" class="modal-body">
        <hr />
        <div class="row">
            <div class="col-md">
                <form asp-action="Create" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Key" class="control-label">Network switch prefix(f.e thu)</label>
                        <input asp-for="Key" class="form-control" />
                        <span asp-validation-for="Key" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ManagementIp" class="control-label">Open Virtual Switch management IP or hostname</label>
                        <input asp-for="ManagementIp" id="managementIp" class="form-control" />
                        <span asp-validation-for="ManagementIp" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PrivateIP" class="control-label">Virtual Switch private IP or hostname(Towards target devices)</label>
                        <input asp-for="PrivateIP" id="privateIp" class="form-control" />
                        <span asp-validation-for="PrivateIP" class="text-danger"></span>
                        <input type="checkbox" id="checkboxPrivate" checked>
                        <label for="checkboxPublic">Same as management address</label>
                    </div>
                    <div class="form-group">
                        <label asp-for="PublicIP" class="control-label">Virtual Switch public IP or hostname(Towards clients)</label>
                        <input asp-for="PublicIP" id="publicIp" class="form-control" />
                        <span asp-validation-for="PublicIP" class="text-danger"></span>
                        <input type="checkbox" id="checkboxPublic" checked>
                        <label for="checkboxPublic">Same as private address</label>
                    </div>
                    <div class="form-group">
                        <label asp-for="KeyFile" class="control-label">KeyFile for switch management</label>
                        <input asp-for="KeyFile" class="form-control">
                        <span asp-validation-for="KeyFile" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
